*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-transform: capitalize;
    background-color: aliceblue;
    
}
.content{
    background: rgb(211, 234, 237);
    padding: 30px;
    box-shadow: 3px 4px 5px 9px black;
    margin: 20px auto;
    width: 77rem;
    align-items: center;
    justify-content: center;
    height: 70rem;
      font-family: "Concert One", sans-serif;
}

header{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}
.about{
    padding: 10px;
    color: rgb(7, 13, 48);
    float: left;
}
.link{
    display: flex;
    padding: 10px;
    justify-content: space-between;

}

 a{
    color: rgb(5, 19, 59);
    font-size: 25px;
    text-decoration: none;
}
h1{
    font-size: 45px;
   
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
 display: inline-block;
 border-bottom: 2px solid black;
 width: 700px;
    
}
.college{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p{
    display: flex;
    flex-direction: column;
    float:right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.tech{
    font-size: 25px;
    margin-left: 30px ;
    padding-left: 20px;
}
li{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;

}
.skilang{
    display: flex;
    flex-direction: column;
  
    
}
.row{
 display: flex;
 padding: 5px 0px;
 gap: 20px;
 align-items: center;


}
.know{
    font-size: 20px;
    font-weight: bold;
float: right;

}
.plat{
    display: flex;
    justify-content: space-evenly;
}